* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: arial;
}

.hrow{
    border: 1px solid gray;
    opacity: 0.1; 
    width: 100%;
}

.pag-container{
    width: 100%;
    height: auto;
    text-align: center;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: rgb(0, 0, 0);
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 100%;
}

.modal-3 a {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.modal-3 a:hover {
    background-color: #444444;
    color: white;
    cursor: pointer;
}
.modal-3 a.active, .modal-3 a:active {
    background-color: #444444;
    color: white;
}

.arrow{
    font-size: 20px;
}

.arrow:hover{
    cursor: pointer;
}

.genreTitle{
    padding-left: 14px;
}

.select{
    width: 200px;
    border: none;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    opacity: 0.7;
}

@media only screen and (max-width: 650px) {

    .hrow{
        width: 90%;
    }

    .genreTitle{
        padding-left: 5%;
    }

    .select{
        padding-left: 5%;
    }

}

