<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']">Cinetown</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse bg-light" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genres
          </a>
          <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
              <!-- loop for the genres -->
              <div class="dropdown-item" *ngFor="let item of genres">
                <a [routerLink]="['/list', item.id, item.name]" (click)="refresh();">{{item.name}}</a>
              </div
              >
              <!-- end of loop div-->
          </div>
        </li>
      </ul>
      <div class="md-form mt-0">
        <input class="form-control search-box" type="text" placeholder="Search" aria-label="Search" (keyup)="showSearch($event)">
      </div>
    </div>
</nav>

<div *ngIf="search" class="overlay">
  <br>
  <div class="container-list">
    <div *ngFor="let item of list">
      <a class="text-muted" [routerLink]="['/movie', item.id]" (click)="refresh();">
        <span class="searchText">{{item.title}} ({{item.release_date | slice:0:4}})</span>
      </a>
    </div>
  </div>
</div>