#movieMob{
    display: none;
}

.container-movieMob{
    width: 90%;
    margin: 0 auto;
}

.container-movie{
    width: 1100px;
    height: 700px;
    margin: 0 auto;
}

.vote-box{
    font-size: 16px;
    padding: 7px;
    background: black;
    color: white;
    border-radius: 50%;
}

.backdrop{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.obj{
    text-align: right;
}

.grid{
    max-width: 1070px;
    margin: 0 auto;
    justify-content: center;
}

.col{
    width: 170px;
}

/**************************/
/****** media queries
*/
@media only screen and (max-width: 1111px) {

    .container-movie{
        width: 900px;
        height: 500px;
    } 
    
    .grid{
        width: 800px;
    }

    .col{
        width: 184px;
        float: left;
    }

}

@media only screen and (max-width: 960px) {

    .grid{
        width: 700px;
    }

    .col{
        width: 135px;
    }

}

@media only screen and (max-width: 911px) {

    #movieDesk{
        display: none;
    } 

    #movieMob{
        display: block;
    }

    .backdropMob{
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 850px) {

    .grid{
        width: 600px;
    }

    .col{
        width: 180px;
    }

}

@media only screen and (max-width: 720px) {

    .grid{
        width: 450px;
    }

    .col{
        width: 125px;
    }

}

@media only screen and (max-width: 480px) {

    .grid{
        width: 350px;
    }

    .col{
        width: 130px;
    }

}
