/**************************/
/****** buttons
*/
.sort {
    font-size: 19px;
    color: #584e4a;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 8px;
}

.hrow{
    border: 1px solid gray;
    opacity: 0.1; 
    width: 100%;
}

.sort:before, .sort:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #f37272;
}
.sort:before {
    opacity: 0;
    transform: translateY(- 8px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.sort:after {
    opacity: 0;
    transform: translateY(4px);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.sort:hover:before, .sort:focus:before, .sort:hover:after, .sort:focus:after  {
    opacity: 1;
    transform: translateY(0);
}
.sort:hover:before, .sort:focus:before {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.sort:hover:after, .sort:focus:after {
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}


@media only screen and (max-width: 650px) {

    .hrow{
        width: 90%;
    }

    .subtitle{
        padding-left: 5%;
    }

}
